SQLAlchemy==1.1.13
git+https://maxwin_ch@bitbucket.org/maxwin-inc/mwutils.git
git+https://maxwin_ch@bitbucket.org/maxwin-inc/auth.git
git+https://maxwin_ch@bitbucket.org/maxwin-inc/mwsdk.git
git+https://maxwin_ch@bitbucket.org/maxwin-inc/mwpermission.git

